/* Font */
@font-face {
  font-family: "xiawu";
  src: url("/fonts/LXGWWenKaiGB-Regular.woff") format("truetype");
}

/* Global */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page {
  width: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  height: 40px;
}

main {
  flex: auto;
}

.menus a {
  display: block;
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}

.menus a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menus .active {
  color: #fc985c;
}

/* Home Page */

.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: gray;
  margin-top: 5px;
}

.tag-item {
  background-color: green;
  padding: 3px;
  color: white;
  text-decoration: none;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: gray;
}

.summary p {
  font-family: "xiawu";
}

hr {
  width: 700px;
  margin-left: 0;
  border: none;
  border-bottom: 1px solid gray;
}

.post-title {
  font-size: 1.3rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Posts Page*/
.post-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.year-btn-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.year-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.year-btn:hover {
  cursor: pointer;
}

.year-btn-active {
  background-color: #fc985c;
}

.post-item-link {
  font-size: 1.2rem;
}

.post-item-date {
  font-family: monospace;
  font-size: 1.1rem;
}

/* Article Page */
.article-title {
  text-align: center;
}

.article-date {
  text-align: center;
}

.article-content {
  font-family: "xiawu", sans-serif;
  text-align: justify;
}

.article-content p {
  font-size: 1.3rem;
  text-indent: 2.6rem;
  line-height: 2rem;
}

/* Tag List Page */
.tags {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.term-title {
  margin: 20px 0;
}

.tags-item a,
.term-title a {
  font-size: 1.5rem;
  text-decoration: none;
}

.tags-item span,
.term-title span {
  vertical-align: super;
}